<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abfrage</title>
</head>
<body>
    <p>
        <form method="post" action="/auswertung">{% csrf_token %}
            <p>Deutsch: {{ vokabel }}</p>
            Französisch:<input type="text" required="required" name="französisch"/>
            <input type="hidden" name="index" value="{{index}}"/>
            <button type="submit">OK</button>
        </form>
    </p>
</body>
</html>
