<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auswertung</title>
</head>
<body>
    <p>{{ antwort }}</p>
    <p><a href="/abfrage">Weiter</a></p>
    <p><a href="/">Fertig</a></p>
</body>
</html>
