{% load static %}
<html>
<head>
    <title>Vokabeltrainer</title>
    <link rel="stylesheet" href="{% static 'css/vokabeltrainer.css' %}">
</head>
<body>
    <a href="/admin/vokabeltrainer/vokabel/add/" title="Hier gehts zur Vokabelliste">Vokabel hinzufügen</a>
    <table>
        <thead>
        <tr>
            <th>Deutsch</th>
            <th>Französisch</th>
        </tr>
        </thead>
        <tbody>
        {% for vokabel in vokabeln %}
        <tr>
            <td> {{ vokabel.deutsches_Wort }}</td>
            <td> {{ vokabel.französisches_Wort }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/abfrage">Hier geht's zur Abfrage</a>
</body>
</html>
